body{
    margin: 0;
    padding: 0;
}

#container{
    margin-top: -20px;
    overflow-x: hidden;
    margin-left: -20px;
    height: 110vh;
    width: 100vw;
    padding: 0;
    border: 0;
    background-image: url("../images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;    
}

nav{
    height: auto;
    width: auto;
    float: right;
    margin-right: 50px;
}


nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

nav ul li a{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
}

nav ul li a:hover{
    color: #66bfbf;
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 10px;
}

.color-changer{
    color: white;
    font-size: 1.1rem;
    margin-right: 10px;
}
div input{
    border-radius: 5px;
    height: 20px;
    padding: 5px;
}


h1{
    color: white;
    font-family: cursive;
    font-weight: bolder;
}

.user-id{
    font-size: 1.2rem;
    margin-top: 20px;

}

main{
    margin-top: 150px;
    margin-left: 35vw;
}

#form-content{
    /* background-color: #A2D2FF; */
    border-radius: 20px;
    border: 2px solid lightgray;
    display: inline-block;
    height: 80vh;
    width: 25vw;
    margin: auto;
    margin-top: -50px;
    text-align: center;
    line-height: 3rem;
}
#form-content #check{
    display: inline-block;

}


#form-content p{
    display: inline-block;
    color: white;
    font-size: 0.9rem;
}
.sign-in-button{
    opacity: 0.7;
    width: 70%;
    background-color: hotpink;
    border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size:20px;
    margin: auto;
    margin-top: 10%;
    cursor: pointer;
    text-decoration: none;
  }
  
  .sign-in-button:hover {
      background-color: #b983ff;
      opacity: 1;
      border-radius: 25px;
      border: 3px solid #66bfbf;
      transition: border 0.8s ease;
      transition: border-radius 2s ease;
    }


#forgot-pass{
    text-decoration: none;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: left;
    padding:10px;
    color: #ffffff;
    background-color: #333;
    border-radius: 10px;
    font-size: 0.7rem;

}

@media only screen and (max-width: 750px){
    #form-content{
        width: 50vw;
        height: 70vh;
        overflow: hidden;
    }

    nav ul{
        margin-right: 20vw;
        margin-bottom: 15vh;
    }
}

@media only screen and (max-width: 450px){
    #form-content{
        width: 60vw;
        height: 70vh;
    }

    nav ul{
        margin-right: 4vw;
    }
}