body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: fixed;
}

body {
  height: 750px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(blue, black);
}

main {
  margin-top: 20%;
  margin-left: 40px;
}

main h1 {
  margin-bottom: 20%;
}

.songs {
  margin: 30px;
}

.container {
  margin-top: 50px;
  height: 200px;
}

li {
  font-size: medium;
  padding: 10px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  text-decoration: none;
  background: none;
  cursor: pointer;
  /* margin: 2px; */
  border: none;
}

ul {
  margin-top: 500px;
}

header {
  position: fixed;
  top: 10px;
}

main h1 {
  position: fixed;
}

.comingh1 {
  position: fixed;
}
