* {
  padding: 0;
  margin: 0;
}

/* Cotainer-div */
#container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

/* Header-Started */

/* Nav-Bar */

nav {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid white;
}

nav li a:hover {
  color: #66bfbf;
  transition-duration: 1s;
  transition-timing-function: ease;
  padding: 10px;
}

/* Main-div-Started */
main {
  color: white;
}

/* Form Content */

#form-content {
  height: 90vh;
  width: 30vw;
  border-radius: 10px;
  border: 1px dotted white;
  margin: auto;
  position: relative;
  top: 50px;
}

#form-content:hover{
  border: 3px solid #D074CF;
  transition: border 0.3s ease;
}

.form-classes span{
  display: block;
  text-align: center;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

#signup-heading {
  margin-top: 20px;
  text-align: center;
}

.form-classes {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-left: 50px;
}

.form-classes #checkbox {
  margin-left: 50px;
}

.form-classes p {
  display: inline-block;
}

.form-classes input {
  border-radius: 5px;
  height: 23x;
  width: 13rem;
}

.form-classes input{
  padding: 6px;
  text-align: center;
}

.form-classes input:hover{
  border-radius: 20px;
  border: 2px solid #D074CF;
  transition: border-radius 1s ease;
}

.form-classes .sign-up-button {
  opacity: 0.9;
  text-align: center;
  height: 40px;
  width: 80%;
  border-color: hotpink;
  background-color: #77bfbf;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  margin-top: 5%;
  cursor: pointer;
  text-decoration: none;
}

.sign-up-button:hover {
  background-color: hotpink;
  opacity: 1;
  border-radius: 20px;
  border: 3px solid #66bfbf;
  transition: border-radius 0.8s ease;
}


@media only screen and (max-width: 1154px){

  #form-content{
    width: 50vw;
  }

  nav ul{
    position: absolute;
    top: 10px;
    right: 40vw;

  }
} 
@media only screen and (max-width: 471px){

  body{
    overflow: hidden;
  }

  #form-content input{
   margin-right: 10px;
  }

  nav ul{
    position: absolute;
    top: 10px;
    right: 40vw;

  }
} 


@media only screen and (max-width: 855px){

  #form-content{
    width: 70vw;
  }

  nav ul{
    position: absolute;
    top: 10px;
    right: 40vw;

  }
  .form-classes input{
    margin-top: 5px;
  }
} 